@import 'variables';

body {
	width: 100%;
	height: 100%;
	font-family: $font-family;
	color: $font-white;
	font-size: 14px;
	font-weight: 300;
	cursor: default;
	overflow: hidden;
	background-color: $background-color;

	header {
		width: 100%;
		text-align: center;
		font-family: $font-family-infidel;
		font-size: 1em;
	}

	.main-container {
		margin: 1em;
		background-image: url(/assets/images/background.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		position: absolute;
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		margin: 1em;

		.gg {
			width: auto;
			position: absolute;
			left: 25%;
			max-width: 50%;
		}
	}
}
