<div class="main-container">
  <header>
    <img src="assets/images/kult_logo.png" alt="KULT logotype" class="gg">
  </header>

  <app-card-table></app-card-table>


  <footer>
    <div>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a> is licensed by CC BY 4.0</div>
  </footer>
</div>
